<%- include('header.html') -%>

<section class="about margin-x">
    <div class="main-flex text-center-mobile flex-wrap-mobile">
        <div>
            <h2>На создание сервиса нас вдохновили наши собаки.</h2>
            <p>Мы любим собак, поэтому создали сервис по выгулу и передержке, который заботится о питомце и гарантирует его безопасность. Мы погуляем, помоем, почешем, покормим и приласкаем.</p>
        </div>
        <img class="about-photo" src="bulldog.jpg" alt="Забота о питомце">
    </div>
    <h1 class="text-center" style="margin-top:3rem;margin-bottom:1rem;">Все наши сотрудники проходят тщательный отбор:</h1>
    <div class="employees-flex">
        <div class="three-columns text-center flex row-space-between">
            <h3>Анкета и скрининг</h3>
            <p>Кандидат заполняет подробную анкету о себе, а мы проверяем информацию через открытые источники.</p>
            <div>
                <img src="headhunting.png">
            </div>
        </div>
        <div class="three-columns text-center flex row-space-between">
            <h3>Проверка знаний и опыта</h3>
            <p>Сложный тест по основам коммуникации и работы с собакой отсеивает больше половины кандидатов.</p>
            <div>
                <img src="certificate.png">
            </div>
        </div>
        <div class="three-columns text-center flex row-space-between">
            <h3>Проверка в бою</h3>
            <p>Это несколько выгулов с наставниками. Теория - хорошо, но только на практике мы выявляем слабые места кандидата и вместе совершенствуем навыки.</p>
            <div>
                <img src="examination.png">
            </div>
        </div>
        <div class="two-columns text-center flex row-space-between">
            <h3>Сбор персональных данных</h3>
            <p>Мы собираем все возможные персональные данные, справки с места работы и учебы, справку об отсутствии судимости, проверяем отзывы от клиентов и просим рекомендательные письма.</p>
            <div>
                <img src="headhunter.png">
            </div>
        </div>
        <div class="two-columns text-center flex">
            <h3>Тренинги и обучение</h3>
            <p>Мы верим, что каждый работающий с нами человек должен расти и повышать свою квалификацию. Поэтому мы проводим тренинги по совершенствованию навыков работы с собакой.</p>
            <div>
                <img src="trophy.png">
            </div>
        </div>
    </div>
    <h1 style="margin:2rem 0" class="text-center">Наши выгульщики, догситтеры и няни:</h1>
    <div class="employees-flex">
        <div class="three-columns text-center">
            <img class="main-photo" src="https://placehold.jp/f4a9bb/ffffff/150x150.png">
            <h3>Анна</h3>
            <p>Dictum sit amet justo donec enim diam. Volutpat maecenas volutpat blandit aliquam etiam erat. Curabitur vitae nunc sed velit dignissim sodales ut eu sem. Nisi quis eleifend quam adipiscing vitae proin sagittis. Egestas tellus rutrum tellus pellentesque. Tristique senectus et netus et malesuada fames ac turpis.</p>
        </div>
        <div class="three-columns text-center">
            <img class="main-photo" src="https://placehold.jp/f4a9bb/ffffff/150x150.png">
            <h3>Катерина</h3>
            <p>Lacus laoreet non curabitur gravida arcu. Feugiat nisl pretium fusce id velit ut tortor. Rutrum quisque non tellus orci ac auctor augue mauris augue. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Diam vulputate ut pharetra sit amet.</p>
        </div>
        <div class="three-columns text-center">
            <img class="main-photo" src="https://placehold.jp/f4a9bb/ffffff/150x150.png">
            <h3>Оксана</h3>
            <p>Consectetur a erat nam at lectus. Velit ut tortor pretium viverra suspendisse potenti nullam ac. At elementum eu facilisis sed odio morbi quis. At erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Non tellus orci ac auctor augue mauris augue neque gravida.</p>
        </div>
        <div class="three-columns text-center">
            <img class="main-photo" src="https://placehold.jp/f4a9bb/ffffff/150x150.png">
            <h3>Мария</h3>
            <p>Morbi tempus iaculis urna id. Elementum nibh tellus molestie nunc non blandit massa. Integer quis auctor elit sed. Placerat orci nulla pellentesque dignissim enim sit amet venenatis. Urna porttitor rhoncus dolor purus non enim praesent. Praesent semper feugiat nibh sed pulvinar proin gravida. Id semper risus in hendrerit. Sed odio morbi quis commodo odio. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi.</p>
        </div>
        <div class="three-columns text-center">
            <img class="main-photo" class="main-photo" src="https://placehold.jp/f4a9bb/ffffff/150x150.png">
            <h3>Евгения</h3>
            <p>Praesent tristique magna sit amet. Ipsum dolor sit amet consectetur adipiscing elit. Purus sit amet luctus venenatis. Erat imperdiet sed euismod nisi porta lorem mollis. Id porta nibh venenatis cras sed felis eget velit aliquet. Diam sollicitudin tempor id eu nisl nunc. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Leo vel fringilla est ullamcorper eget nulla facilisi.</p>
        </div>
        <div class="three-columns text-center">
            <img class="main-photo" src="https://placehold.jp/f4a9bb/ffffff/150x150.png">
            <h3>Александра</h3>
            <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Quis viverra nibh cras pulvinar mattis nunc sed blandit. Volutpat blandit aliquam etiam erat. Praesent tristique magna sit amet purus. Nunc mattis enim ut tellus elementum sagittis vitae. Id neque aliquam vestibulum morbi blandit cursus risus at ultrices. Ultrices in iaculis nunc sed augue lacus viverra vitae.</p>
        </div>
        <div class="three-columns text-center">
            <img class="main-photo" src="https://placehold.jp/f4a9bb/ffffff/150x150.png">
            <h3>Валерия</h3>
            <p>Tristique magna sit amet purus gravida quis blandit. Faucibus pulvinar elementum integer enim neque volutpat. Aliquam vestibulum morbi blandit cursus risus at. Diam in arcu cursus euismod quis viverra nibh. Risus at ultrices mi tempus imperdiet. At tempor commodo ullamcorper a lacus vestibulum sed. Egestas sed sed risus pretium quam vulputate. Tempor id eu nisl nunc mi ipsum faucibus vitae aliquet.</p>
        </div>
        <div class="three-columns text-center">
            <img class="main-photo" src="https://placehold.jp/f4a9bb/ffffff/150x150.png">
            <h3>Лиза</h3>
            <p>Euismod lacinia at quis risus sed. Tellus elementum sagittis vitae et leo duis ut. Amet aliquam id diam maecenas ultricies mi eget mauris. Purus in mollis nunc sed id. Viverra accumsan in nisl nisi scelerisque eu ultrices. Lectus magna fringilla urna porttitor rhoncus dolor. A arcu cursus vitae congue.</p>
        </div>
        <div class="three-columns text-center">
            <img class="main-photo" src="https://placehold.jp/f4a9bb/ffffff/150x150.png">
            <h3>Татьяна</h3>
            <p>Parturient montes nascetur ridiculus mus. Sollicitudin ac orci phasellus egestas tellus rutrum tellus. Quam nulla porttitor massa id neque aliquam. Egestas quis ipsum suspendisse ultrices gravida. Convallis convallis tellus id interdum velit. Massa massa ultricies mi quis hendrerit dolor magna. Hendrerit dolor magna eget est lorem.</p>
        </div>
        <div class="three-columns text-center">
            <img class="main-photo" src="https://placehold.jp/f4a9bb/ffffff/150x150.png">
            <h3>Ольга</h3>
            <p>Pellentesque nec nam aliquam sem et tortor. Egestas purus viverra accumsan in nisl. Consequat interdum varius sit amet mattis vulputate enim. Ipsum faucibus vitae aliquet nec ullamcorper. Cursus sit amet dictum sit amet justo. Cras ornare arcu dui vivamus arcu. Duis ultricies lacus sed turpis tincidunt. Mus mauris vitae ultricies leo integer.</p>
        </div>
        <div class="three-columns text-center">
            <img class="main-photo" src="https://placehold.jp/f4a9bb/ffffff/150x150.png">
            <h3>Юля</h3>
            <p>Sapien pellentesque habitant morbi tristique senectus et netus et malesuada. Porttitor rhoncus dolor purus non enim praesent elementum facilisis. Lorem donec massa sapien faucibus et molestie ac feugiat sed. Augue eget arcu dictum varius duis. Erat pellentesque adipiscing commodo elit at imperdiet dui.</p>
        </div>
        <div class="three-columns text-center">
            <img class="main-photo" src="https://placehold.jp/f4a9bb/ffffff/150x150.png">
            <h3>Карина</h3>
            <p>Turpis egestas maecenas pharetra convallis posuere. Nisl tincidunt eget nullam non. Et netus et malesuada fames ac turpis egestas integer. Quis vel eros donec ac odio tempor. Magna eget est lorem ipsum dolor sit amet. Pulvinar mattis nunc sed blandit. Magna fermentum iaculis eu non diam.</p>
        </div>
    </div>
</section>

<%- include('footer.html') -%>