<%- include('header.html') -%>

<section class="buy text-center">
    <div id="root"></div>
</section>

<script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<!-- <script type="text/babel" src="https://cdn.jsdelivr.net/npm/react-imask@4.0.0/dist/react-imask.min.js"></script> -->
<script type="text/babel">
    function Form() {
        const [formData, setFormData] = React.useState({
            petName: "",
            petAge: "", 
            breed: "",
            gender: "",
            ownerName: "",
            phone: "", 
            email: "",
            service: "",
            terms: true,
            sales: true
        })

        function handleChange(event) {
            const {name, value, type, checked} = event.target
            setFormData(prevFormData => {
                return {
                    ...prevFormData,
                    [name]: type === "checkbox" ? checked : value
                }
            })
        }

        const [step, setStep] = React.useState(0)

        function prevStep() {
            setStep(prevState => prevState - 1)
        }

        const elements = [
            (<select
                name="service"
                value={formData.service}
                onChange={handleChange}
                id="service"
                required="required"
                className="form"
                style={{padding: "0.8rem 0.3rem"}}
                >
                    <option value="" disabled="disabled">Выберите услугу</option>
                    <option value="1">Выгул</option>
                    <option value="2">Передержка</option>
                    <option value="3">Няня</option>
                    <option value="4">Кинолог</option>
                </select>),
            (<div>
                <input 
                    type="text"
                    placeholder="Елик"
                    name="petName"
                    value={formData.petName}
                    onChange={handleChange}
                    required="required"
                    className="form"
                    />
                <br />
                <input 
                    type="text"
                    placeholder="3 года"
                    name="petAge"
                    value={formData.petAge}
                    onChange={handleChange}
                    required="required"
                    className="form"
                />
                <fieldset>
                    <input 
                        type="radio"
                        id="girl"
                        name="gender"
                        value="girl"
                        checked={formData.gender === "girl"}
                        onChange={handleChange}
                        required="required"
                    />
                    <label htmlFor="girl">девочка</label>
                    <br />
                    <input 
                        type="radio"
                        id="boy"
                        name="gender"
                        value="boy"
                        checked={formData.gender === "boy"}
                        onChange={handleChange}
                    />
                    <label htmlFor="boy">мальчик</label>
                </fieldset>
                <input 
                    type="text"
                    placeholder="карликовый пудель"
                    name="breed"
                    value={formData.breed}
                    onChange={handleChange}
                    required="required"
                    className="form"
                />
            </div>),
            (<div>
                <input 
                type="text"
                placeholder="Елена"
                name="ownerName"
                value={formData.ownerName}
                onChange={handleChange}
                required="required"
                className="form"
                />
                <br />
                <input 
                type="tel"
                placeholder="+79909991199"
                name="phone"
                value={formData.phone}
                onChange={handleChange}
                required="required"
                className="form"
                />
                <br />
                <input 
                type="email"
                placeholder="example@mail.com"
                name="email"
                value={formData.email}
                onChange={handleChange}
                required="required"
                className="form"
                />
                <br />
                <input 
                    type="checkbox" 
                    id="terms" 
                    checked={formData.terms}
                    onChange={handleChange}
                    name="terms"
                    required="required"
                />
                <label htmlFor="terms">Я согласен с Пользовательским соглашением и обработкой данных</label>
                <br />
                <input 
                    type="checkbox" 
                    id="sales" 
                    checked={formData.sales}
                    onChange={handleChange}
                    name="sales"
                />
                <label htmlFor="sales">Я хочу получать скидки на Выгул собак на указанную почту</label>
            </div>),
            (<div>
                <h1>Спасибо за заказ!</h1>
                <h2>Наш менеджер свяжется с вами для уточнения деталей в течение часа.</h2>
                <img src="dogs.gif" alt="" />
            </div>)
        ]

        const isFinalStep = step === elements.length - 2;
        const isFormSubmited = step === elements.length - 1;

        function handleSubmit(event) {
            event.preventDefault();
            if (isFinalStep) {
                fetch("/buy", {
                    method: "POST",
                    body: JSON.stringify(formData)
                })
            }
            
            setStep(prevState => prevState + 1)
        }

        return (
            <div>
                {!isFormSubmited && <h1>Оставьте заявку</h1>}

                <form onSubmit={handleSubmit}> 
                    <div key={step}>
                        {elements[step]}
                        {!isFormSubmited && <div>
                            {step > 0 && <button className="step-button" onClick={prevStep}>Назад</button>}
                            <input type="submit" value={isFinalStep ? "Отправить" : "Вперёд"} className={isFinalStep ? "submit-button" : "step-button"} />
                        </div>}
                    </div>
                </form>
            </div>
        )
    }
    

    ReactDOM.createRoot(document.getElementById("root")).render(
        <React.StrictMode>
            <Form />
        </React.StrictMode>
)
</script>

<!-- <script src="https://unpkg.com/imask"></script> -->
<!-- <script>
    var element = document.getElementById('selector');
    var maskOptions = {
        mask: '+{995} 000-000-000',
        lazy: false,
    };
    var mask = IMask(element, maskOptions);
</script> -->

<%- include('footer.html') -%>