<%- include('header.html') -%>

<section class="contacts text-center flex-wrap-mobile margin-x">
    <div>
        <h3>Свяжитесь с нами:</h3>
        <p>+7 (800) 555-35-35</p>
        <p>sobaka@example.com</p>
        <p>Тбилиси, улица Ильи Чавчавадзе, 44</p>
        <img src="dog.png">
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.5101326293834!2d44.76667941418397!3d41.709509719541515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40447333b009849d%3A0xf81d9bcfef1b8b81!2s44%20Ilia%20Chavchavadze%20Avenue%2C%20T&#39;bilisi!5e0!3m2!1sru!2sge!4v1659000583763!5m2!1sru!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
</section>

<%- include('footer.html') -%>
