<%- include('header.html') -%>

<section class="cynologist margin-x">
    <h1 class="text-center">Зачем нужны услуги кинолога?</h1>
    <div class="flex row-space-between flex-wrap-mobile text-center" style="margin:3rem 0">
        <div class="mobile-flex-basis-100">
            <img src="evil.png" width="100" height="100">
            <p>Собака тянет поводок</p>
        </div>
        <div class="mobile-flex-basis-100">
            <img src="naughty.png" width="100" height="100">
            <p>Собака слишком гиперактивная</p>
        </div>
        <div class="mobile-flex-basis-100">
            <img src="awkward.png" width="100" height="100">
            <p>Собака подбирает с земли</p>
        </div>
        <div class="mobile-flex-basis-100">
            <img src="mad.png" width="100" height="100">
            <p>Собака проявляет агрессию</p>
        </div>
        <div class="mobile-flex-basis-100">
            <img src="annoying.png" width="100" height="100">
            <p>Собака портит вещи</p>
        </div>
    </div>
    <%- include('order-steps.html') -%>
</section>

<%- include('footer.html') -%>