<%- include('header.html') -%>
<section class="daycare">
    <h1 class="text-center">Когда нужна собачья няня?</h1>
    <div class="row-space-between flex-wrap-mobile text-center">
        <div class="three-columns">
            <img src="angry-face.png" width="100" height="100">
            <h3>Собака хулиганит дома</h3>
            <p>Пёс сильно хулиганит дома: воет, рвет подушки и грызет диван</p>
        </div>
        <div class="three-columns">
            <img src="cry.png" width="100" height="100">
            <h3>Собака заболела</h3>
            <p>Пёс заболел, надо присмотреть, последить за состоянием, проверить капельницу и просто побыть рядом</p>
        </div>
        <div class="three-columns">
            <img src="love.png" width="100" height="100">
            <h3>Собаке нужно внимание</h3>
            <p>У вас щенок или пёс, которому нужно уделять много внимания, и вам нужна в этом помощь</p>
        </div>
    </div>
    <%- include('order-steps.html') -%>
</section>
<%- include('footer.html') -%>