<%- include('header.html') -%>
<section class="dogsitting margin-x">
    <h1 class="text-center">Из чего состоит передержка?</h1>
    <div class="steps">
        <div class="flex">
            <h1>1</h1>
            <div class="holder">
                <div class="img-holder">
                    <img src="dogsitting1.jpg" width="300" height="300">
                </div>
                <div class="text">Догситтер знакомится c вашим питомцем. Вы убеждаетесь в том, что они поладят.</div>
            </div>
        </div>
        <div class="flex">
            <h1>2</h1>
            <div class="holder">
                <div class="img-holder">
                    <img src="dogsitting2.jpg" width="300" height="300">
                </div>
                <div class="text">Гуляем по любимым маршрутам и по привычному расписанию питомца.</div>
            </div>
        </div>
        <div class="flex">
            <h1>3</h1>
            <div class="holder">
                <div class="img-holder">
                    <img src="dogsitting3.jpg" width="300" height="300">
                </div>
                <div class="text">Моем лапы после каждого выгула и кормим вашим кормом в оговоренные часы.</div>
            </div>
        </div>
        <div class="flex">
            <h1>4</h1>
            <div class="holder">
                <div class="img-holder">
                    <img src="dogsitting4.jpg" width="300" height="300">
                </div>
                <div class="text">Много игр и внимания дома и обязательные отчеты с фотографиями каждый день.</div>
            </div>
        </div>
    </div>
    <%- include('order-steps.html') -%>
</section>
<%- include('footer.html') -%>