<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title><%= title %>></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/themes/splide-sea-green.min.css">
    <link href="style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        const currentTheme = localStorage.getItem("theme");
        document.documentElement.setAttribute("data-theme", currentTheme === null ? "light" : currentTheme);
    </script>
</head>

<body class="container">
    <nav>
        <div class="row-space-between flex-wrap-mobile links">
            <a class="logo" href="/">Выгул Собак</a>
            <ul class="flex-wrap-mobile">
                <li><a href="/#services">Наши услуги</a></li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/job">Работа у нас</a></li>
                <li><a href="/#reviews">Отзывы</a></li>
                <li><a href="/buy" class="btn">Оформить заказ</a></li>
            </ul>
        </div>
    </nav>