
<h1 class="text-center">Как оформить заказ?</h1>
<div class="order-steps text-center-mobile flex-wrap-mobile">
    <div class="img-order">
        <div class="numbers flex-wrap-mobile card">
            <h1>1</h1>
            <p>Заполняете все необходимые данные для оформления заказа</p>
        </div>
        <div class="numbers flex-wrap-mobile card">
            <h1>2</h1>
            <p>Мы уточняем детали, отвечаем на ваши вопросы и рассчитываем стоимость</p>
        </div>
    </div>
    <div>
        <img src="dog-crown.png" draggable="false" width="300" height="300" style="transform:scale(-1, 1)">
    </div>
</div>
<div class="order-steps text-center-mobile flex-wrap-mobile">
    <div class="img-order">
        <img src="running.png" draggable="false" width="300" height="300">
    </div>
    <div>
        <div class="numbers flex-wrap-mobile card">
            <h1>3</h1>
            <p>Подбираем подходящего под ваши требования исполнителя и рассказываем о нем вам</p>
        </div>
        <div class="numbers flex-wrap-mobile card">
            <h1>4</h1>
            <p>Договариваемся о знакомстве. На нем вы убедитесь, что ваша собака поладила с нашим сотрудником</p>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="/buy" class="btn discount-btn">Попробуйте первую прогулку со скидкой 50%</a>
</div>
<div class="text-center margin-x">
    <img src="dog-cute.jpg" class="about-photo" width="300" height="300">
</div>